* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 5px solid black;
    padding: 15px;
    height: auto;
    min-height: 100vh;
}

.projects {
    display: flex;
    justify-content: space-between;
}

.addProject {
    font-size: 25px;
    border: none;
    background-color: transparent;
}

.todo {
    display: grid;
    grid-template-rows: 100px 1fr;
    min-height: 100vh;
    height: auto
}

.content {

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.addTodos {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
}