* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 5px solid black;
    padding: 15px;
    height: auto;
    min-height: 100vh;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

.addProject {
    width: 20px;
    height: 20px;
    display: flex;
}

.todos {
    display: grid;
    height: auto;
    padding: 10px 25px;
    gap: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.addItem, .addTodo {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-block;

}

.project:hover {
    color: pink;
}

.project {
    display: flex;
    justify-content: space-between;
}

.projectMainHeader {
    display: flex;
    justify-content: space-between;
}


.containerIcon {
    display: flex;
    gap: 10px;
}

.projectDialog, .todoDialog {
    margin: auto;
    padding: 20px 25px;
}

.projectDialog {
    height: 250px;
    width: 300px;
}

.projectDialog::backdrop, .todoDialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}

.projectHeader, .todoHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.projectForm, .todoForm{
    display: flex;
    gap: 35px;
    flex-direction: column;
    padding: 20px
}

.projectInput, .todoInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    padding: 20px;
    gap: 20px;
}

.todoRow {
    display: flex;
    justify-content: space-between;
}

.todoInfo {
    display: flex;
    gap: 15px;
    align-items: center;
}